# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Large datasets
*.csv
resume_data.csv


# Temporary uploads and outputs
temp_uploads/
.streamlit/
.env

# OS-specific files
Thumbs.db
Desktop.ini
.DS_Store
